/*  reset css */
* {
    margin: 0;
    padding: 0;
}

a , a:hover {
    text-decoration: none;
}




/* body */

body {
    background-color:#F8F9FA;
    font-family: Arial, Helvetica, sans-serif;
}

/* header */


header {
    width: 100%;
    height: 80px;
    display: flex;
    padding-bottom: 20px;
    background-color: #4E6986;
    border-bottom: 4px solid orange;
}

.logo {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0 10px;
    margin-top: 30px;
    font-size: 20px;
}

.logo img {
}


/*  container */

.container-xs {
    width: 100%;
    margin: 0 auto;
}

.container-smx {
    width: 100%;
}

.container-fluid {
    width: 100%;
    display: flex;
}

.content-category {
    width:100%;  
    display: flex; 
    gap:0px;
    flex-wrap: wrap;
    padding:5px 10px;
    background-color: #ddd;
    border-bottom: 4px solid #3498db;
}

.btn-success { 
    width: 100% !important ;
    color: #264d3c;
    border-radius: 6px;
    background-color: #177232;
    cursor: pointer;
    text-shadow: 1px 1px 2px #5DB497;
    padding: 12px 8px;
    font-size: 28px ;
    font-family: "K2D", sans-serif;
    font-weight: 300 ;
    font-style: normal;
    box-shadow: 1px 20px 30px 10px rgba(82, 85, 83, 0.2);
    }

.btn-success:hover {
    background-color: #5ba772 ;
}

    /* contenedores */

        .buscar-campo {
            width: 100%!important;
            padding: 5px;
            border-radius: 4px;
            outline: none;
            border: none;
            color: #666;
            background-color: #fff
        }

        .buscar {
            width: 100% !important;
            display: flex;
            flex-direction: row;
            gap: 10px;
            margin: 0 auto;
        }

        .cont-center {
            width: 100% !important;
            margin: 0 auto;
         
        }
        .buscar-campo {
            width: 100%;
            padding: 5px;
            border-radius: 4px;
            outline: none;
            border: none;
            color: #666;
        }

        .text-info-landing {
            padding:0 20px !important;
        }

        h2.main-title-app {
            margin-top: 30px !important;
            font-size: 28px !important;
            font-family: "K2D", sans-serif !important;
            font-weight: 300 !important;
            line-height: 50px;
            font-style: normal !important;
        }
        p.info-title {
        font-size: 20px !important;
        font-family: "K2D", sans-serif !important;
        font-weight: 300 !important;
        font-style: normal !important;
        color: #888;
        }

        span.arrow {
            width: 26px;
            height: 31px;
            background-color: #2A8387;
            background-image: url('../arrow.png');
            display: block;
            position: absolute;
            right: 130px;  
        }
         

    
.card {
    border: 1px solid #ccc;
    width: 280px!important;
    padding: 10px 15px !important;
    display: flex ;
    flex-direction: column ;
    align-items: center !;
    border-radius: 4px;
    box-shadow: 1px 2px 6px #ccc;
}

.card-title {
    font-size: 18px;
    color: #305cc1;
    font-weight: normal;
    padding: 15px 0px 10px 0px;
    margin-top: 0px;
    display: flex;
    
}

.capitalize {
    text-transform: capitalize;
}

.card-text {
    padding-bottom: 10px;
    font-size: 16px;
}


.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    animation: spin 2s linear infinite;
    display: none; /* Oculto por defecto */
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} 

/* 

/* Contenedor principal */
.contenedor-lista {
    display: flex;
    gap: 20px; /* Espacio entre las tarjetas */
    width:100%;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 20px;
    /* background-color: g; */
}

/* Tarjetas individuales */



.text-xs {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color:#666;
    border-bottom: 1px solid #ddd;
    padding-bottom: 4px;
    margin-bottom: 4px !important;
}

.btn-location {

}
/*  btn location */



/* CSS */
.button-25 {
  background-color: #36A9AE;
  background-image: linear-gradient(#37ADB2, #329CA0);
  border: 1px solid #2A8387;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  line-height: 100%;
  margin: 0;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-25:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset, rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: .15s, .15s;
}

.button-25:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.button-25:disabled {
  cursor: not-allowed;
  opacity: .6;
}

.button-25:disabled:active {
  pointer-events: none;
}

.button-25:disabled:hover {
  box-shadow: none;
}



/* fin btn location */



.imagen-comercio {
    width:100%;
    height: 200px;
    margin-bottom: 15px;
}

.btn-center {
    display: flex;
    justify-content: center;
}

.cont-center {
    width: 100%;
    margin: 0 auto;
}

.color-secondary {
    background-color: #6a6099;
}

.bg-category {
    background-color: #DEDEDE;
}

.content-category input {
    margin:0px 10px
}

.bg-search {
    background-color: #9C7878
}

.buscar-campo {
    width: 400px;
    padding: 5px;
    border-radius: 4px;
    outline: none;
    border: none;
    color: #666;
}

.buscar-btn {
    border-radius: 4px;
    background-color: #a2dfe7;
    border: none;
    padding: 0 15px;
    font-size: 16px;
    color: #5d4a4a;
    border: 1px solid #6c9ea4;
}



/* */



  .checkbox-wrapper-47 input[type="checkbox"] {
    display: none;
    visibility: hidden;
   
  }

  .checkbox-wrapper-47 label {
    position: relative;
    padding-left: 30px;
    padding-right: 10px;
    line-height: 2;
    cursor: pointer;
    display: inline-flex;
    z-index: 1;
  
    
  }

  .checkbox-wrapper-47 label:before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0.4em;
    left: 0;
    display: block;
    width: 1.2em;
    height: 1.2em;
    border: 2px solid #3498db;
    border-radius: 6px;
    margin-right: 10px;
    z-index: -1;
   
  }

  .checkbox-wrapper-47 input[type=checkbox]:checked + label {
    padding-left: 1em;
    margin-right: 0.5em;
    color: #fff;
   
   
  }
  .checkbox-wrapper-47 input[type=checkbox]:checked + label:before {
    top: 0;
    width: 100%;
    height: 2em;
    background: #3f9fd2;
    border-color: #305cc1;
   
  }

  .checkbox-wrapper-47 label,
  .checkbox-wrapper-47 label::before {
    transition: 0.25s all ease;
   
  }

